<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="nome">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Digite seu nome" formControlName="nome"
        [ngClass]="aplicaErroCss('nome')">
      <div class="alert alert-danger" [hidden]="!verificaNomeRequerido()">
        O nome é obrigatório
      </div>
      <div class="alert alert-danger" [hidden]="!verificaNomeTamanho()">
        Tamanho minimo para o nome é de 3 caracteres
      </div>
    </div>

    <br>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="email">Email</label>
      </div>
      <div class="col-sm-12">
        <input type="email" class="form-control" placeholder="Digite seu email" formControlName="email"
          [ngClass]="aplicaErroCss('email')">
        <app-error-message
          errorMessage="O email é obrigatório"
          [estadoInvalido]="verificaEmailRequerido()"
        ></app-error-message>
        <app-error-message
          errorMessage="Email inválido"
          [estadoInvalido]="verificaEmailInvalido()"
        ></app-error-message>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <button class="btn btn-danger" (click)="resetarFormulario()">Cancelar</button>
</form>

<!--
-->
<app-form-debug [form]="formulario" [respostaServidor]="respostaServidor"></app-form-debug>